/*
Theme Name: Medical Hospital

Adding support for languages written in a Right To Left (RTL) direction is easy,
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.
*/

/* rtl css */
*{
  margin:0;
  padding:0;
  outline:none;
}
body{
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  font-size: 16px;
    letter-spacing: .51px;
  color:#666;
  font-family: 'Ubuntu', sans-serif;
}
img{
  margin:0;
  padding:0;
  border:none;
  max-width:100%;
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  padding:10px 0;
}
p{
  margin:0 0 15px;
  padding:0;
  font-size: 15px;
    line-height: 1.5;
  font-weight:normal;
}

a{
  text-decoration:none;
  color:#000;
}

a:hover{
  text-decoration:none;
  color:#666;
}

a:focus,
a:hover{
  text-decoration:none !important;
}

a:focus{
  outline: 1px dotted #1776c6;
}

ul{
  margin:0 15px 0 0;
  padding:0;
}

:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

select{
  width:100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
  clear:both;
}

.clear{
  clear:both;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{
  text-align:center;
  margin-bottom:40px;
}
.main-wrap-box{
  margin:0 auto;
  padding:20px 0 20px;
}
.wp-caption{
  margin:0;
  padding:0;
  font-size:13px;
  max-width:100%;
}
.wp-caption-text{
  margin:0;
  padding:0;
}
.screen-reader-text {
  position: absolute;
  top:-9999em;
  right:-9999em;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{
  margin:0;
  padding:0;
}
.gallery-caption{
  margin:0;
  padding:0;
}
.alignleft,
 img.alignleft {
  display: inline;
  float: right;
  margin-left:20px;
  margin-top:4px;
  margin-bottom:10px;
  padding:0;
  border:1px solid #bbb;
  padding:5px;
}
.alignright,
 img.alignright {
  display: inline;
  float: left;
  border:1px solid #bbb;
  padding:5px;
  margin-bottom:10px;
  margin-right:25px;
}
.aligncenter,
 img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top:0;
  border:1px solid #bbb;
  padding:5px;
}
.comment-list .comment-content ul {
  list-style:none;
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggle{
  display:none;
}
.bypostauthor{
  margin:0;
  padding:0;
}
small{
  font-size:14px !important;
}
input[type="text"],
input[type="email"],
input[type="phno"],
 textarea{
  border:1px solid #bcbcbc;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px;
}

input[type="submit"] {
  border: none;
  text-align:center;
  text-transform:uppercase;
  font-size:18px;
  padding:10px 35px;
  background:#1776c6;
  font-weight:bold;
  color:#fff;
  border-radius:3px;
  display:table;
  margin: 10px auto;
  width: 100%;
}
input[type="submit"]:hover{
  background:#222;
}
table,
th,
td {
  border: 1px solid #d1d1d1;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 1px 0 0;
  margin: 0 0 1.75em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
caption,
th,
td {
  font-weight: normal;
  text-align: right;
}

th {
  border-width: 0 0 1px 1px;
  font-weight: 700;
}

td {
  border-width: 0 0 1px 1px;
}

th,
td {
  padding: 0.4375em;
}
/* Calendar widget */
.widget.widget_calendar table {
  margin: 0;
}
.widget_calendar td,
.widget_calendar th {
  line-height: 2.5;
  padding: 0;
  text-align: center;
}
.widget_calendar caption {
  font-weight: 900;
  margin-bottom: 1em;
  color: #fff;
  font-size: 20px;
}
.widget_calendar tbody a {
  background-color: #007acc;
  color: #fff;
  display: block;
  font-weight: 700;
}
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
  background-color: #686868;
  color: #fff;
}
.widget th,
.widget td {
  padding: 0em;
}
span.page-links-title {
  clear: both;
  position: relative;
  font-size: 14px;
  line-height: 13px;
  font-weight: bold;
  padding: 15px;
}
span.page-number {
  padding: 10px 15px;
}
span.page-number,span.page-links-title{
  display: block;
  float: right;
  margin: 2px 0 2px 2px;
  text-decoration: none;
  width: auto;
  color: #fff;
  font-weight: bold;
  background: #1776c6;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #058eff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: #000;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* ---------Buttons--------- */
a.button{
  border: 2px solid #1776c6 ;
  background:#1776c6;
  color: #fff;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight:bold;
} 

/* --------- MENUS CSS --------- */
#sidelong-menu,
#sidelong-topmenu {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.nav-menu ul{
  /*float:right;*/
  margin:0;
  padding:0;
  font-weight:400;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold; 
}
.nav-menu li{
  display:inline-block;
  margin:0;
  position:relative;
}
.nav-menu a{
  color: #000;
  padding: 20px 10px;
  display: block;
  font-weight: 500;
}
.nav-menu ul li a:active{
  color:#1776c6;
}
.nav-menu ul li a:hover{
  color:#000;
}
.nav-menu ul ul{
  display: none;
  position: absolute;
  background: #252525;
  min-width: 215px;
  z-index: 9999;
}
.nav-menu ul ul ul{
  right: 100%;
  top: 0;
}
.nav-menu ul ul a{
  color: #fff;
  padding: 10px;
  background: #1776c6;
  border: 1px solid ;
}
.nav-menu ul ul a:hover{
  background: #fff;
  color: #1776c6;
}
.nav-menu ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.nav-menu ul ul li:last-child{
  border-bottom: 0;
}
.nav-menu ul li:hover > ul{
  display: block;
}
.nav-menu a:hover{
  color: #121212;
}
.nav-menu .menu > ul > li.highlight{
  background-color: #006ccc;
}
.nav-menu .menu > ul > li.highlight:hover{
  background: transparent;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows .sf-with-ul:after{
  content: '';
  position: absolute;
  left: 0;
  margin-top: -2px;
  height: 0;
  width: 0;
  border-top-color: #e1e1e1;
}
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-menu, a.closebtn{
  display: none;
}

/* ---------HEADER--------- */
.menu-sec {
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}
.topbar {
  background: #000;
}
.topbar .nav li a {
  padding: 10px !important;
  font-size: 12px;
  color: #fff !important;
}
.topbar .nav li a:hover {
  background: #1776c6;
}
.social-media i {
  font-size: 15px;
  color: #fff;
  border-left: solid 1px #333;
  padding: 11px;
}
.social-media {
  text-align: left;
}
.social-media i:hover {
  background: #1776c6;
}
.logo h1{
  font-size:25px;
  font-weight:bold;
    padding: 5px 0;
}
.logo h1 a{
  color: #1776c6;
}
.logo p{
  font-size:12px;
  margin:0;
}
#header {
  z-index: 999;
  width: 100%;
  height: auto;
}
#header .header-top {    
  color: #fff;
  padding: 10px 0;
}
.buttonbox a{
  background:#3890cb;
  color:#fff;
  padding:8px 15px;
  display:block;
  margin:27px 0 0 0;
  border-radius:5px;
  text-align:center;
}
.buttonbox a:hover{
  background:#000;
  color:#fff;
}
/*#header .nav{
  margin:0;
  padding:0;
  text-align:left;
  float:left;
}
#header .nav ul {
  float:right;
  margin:0;
  padding:0;
  font-weight: 100;
  font-size:12px;
  text-transform: uppercase;
}
#header .nav ul li{
  display:inline-block; 
  margin:0;
  position:relative;
}
#header .nav ul li a{
  color:#000;
  padding:10px;
  display:block;
  letter-spacing: 1px;
}
#header .nav ul li a:hover {
    color: #1776c6;
}
#header .nav ul li a:active{
  color: #1776c6;
}
#header .nav ul li:hover > ul li:hover{
  background: #000;
}*/
.search-field{
  width: 100%;
  padding: 4%;
 /* margin: 0 3%;*/
}
form.search-form {
  text-align: center;
}
input[type="search"] {
  border: solid 1px #bbb;
  /*padding: 10px 25px 10px 10px;*/
  color: #000;
}
#contact-us i {
  color: #fff;
  font-size: 25px;
  padding: 0 20px;
}
#contact-us {
  background: #1776c6;
  padding: 12px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}
#contact-us p {
  color: #fff;
  font-size: 13px;
  margin-bottom: 0px;
  opacity: 1;
}
#contact-us p.diff-lay {
    font-size: 16px;
    font-weight: 600;
}
/* ---------blog--------- */
.blog-sec {
  margin-bottom: 4%;
  padding: 10px;
  border: 1px solid;
}
.blog-sec h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #242424;
  letter-spacing: .40px;
  text-align: right;
}
.blog-sec h3 a {
  color: #1776c6;
}
.box-image img {
  width: 100%;
}
.mainimage img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.5;
}
.blog-sec p {
  color: #666;
  font-size: 16px;
  letter-spacing: .51px;
}
h1.page-title,
h1.search-title {
  background: #1776c6;
  margin-bottom: 3%;
  color: #fff;
  text-align: center;
}
/*-----------------Search pop up----------------*/
.serach_inner input.search-field {
  width: 100%;
}
.search-box i {
  color: #000;
  margin: 18px 0;
  padding: 6px 10px;
  border-right: 1px solid;
}
.search-box {
  text-align: center;
}
.serach_outer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  transition: 0.5s;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  display: none;
}
.serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.closepop {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  text-align: left;
  margin-left: 28px;
}
.serach_outer i {
  font-size: 24px;
  padding: 4px 0 0 0;
  color: #bbb;
  cursor: pointer;
}
.serach_inner form.search-form {
   display: table;
   padding: 0;
   border-radius: 0;
   background: #ffffff;
   margin: 0 auto;
   max-width: 700px;
   width: 100%;
}
.serach_inner form.search-form {
  display: table;
  border: 1px solid #bababf;
  padding: 14px 20px;
  border-radius: 0;
  background: #ffffff;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  border-radius: 30px;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
input.search-field {
  padding: 10px 0;
  background: transparent;
  width: 95%;
  text-align: center;
}
.social-media .dashicons{
  margin: 0 6px;
  padding: 0;
}
.menubar .social-media a:hover{
  color:#3890cb;
}
ul.search-consult {
  float: left;
  padding: 10px 0;
}
ul.search-consult li:nth-child(1) {
  list-style: none;
  display: inline;
}
ul.search-consult li:nth-child(2) {
  list-style: none;
  display: inline;
}

/* Services */

.main-service-box:nth-child(3),
.main-service-box:nth-child(1) {
  background: url('./images/left.png');
  background-repeat: no-repeat;
  margin: -2px;
  background-size: 100% 100%;
}
.main-service-box:nth-child(4),
.main-service-box:nth-child(2){
  background: url('./images/right.png');
  background-repeat: no-repeat;
  margin: -2px;
  background-size: 100% 100%;
}
.top-service {
  margin-top: -10em;
}
.main-service-box {
  padding: 4em 1em;
  text-align: center;
}
.main-service-box img {
  width: 50%;
}
.main-service-box h4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.main-service-box a {
  background: #fff;
  padding: 6px 10px;
  border-radius: 50%;
}
.main-service-box a i {
    color: #1776c6;
    font-size: 12px;
}
/* About us */
.about {
  padding: 4% 0;
  text-align: left;
}
.about h3 a {
  font-weight: bold;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
  padding: 0;
  margin: 0;
  color: #000;
}
.about p {
  font-size: 14px;
  color: #999;
  line-height: 2;
  margin: 3% 0;
}
.textbox a {
  color: #fff;
  background: #1776c6;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
}

/* Homepage */
.post-info {
    padding: 1% 0;
    font-size: 16px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}
.post-info i {
  color: #058eff;
}
.post-info span {
  margin-right: 1%;
  margin-left: 1%;
  color: #000;
}
.blogbtn a {
  color: #fff;
  background: #1776c6;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding: 10px 20px;
}
.blogbtn {
  margin-top: 3%;
}
.entry-audio audio{
  width: 100%;
}
.innerlightbox {
  padding-top: 4%;
}
#blog_post small{
  color:#6d6d6d;
  margin:0 0 20px 0;
}
#blog_post .small-button{
  margin-top:30px;
}
#blog_post .page-box,.postbox{
  color:rgba(74, 69, 69, 0.75);
  padding:15px;
  margin: 0 0 4% 0;
  box-shadow: 0 0 15px 3px #bbb;
}
#blog_post .page-box p{
  font-size:15px;
  margin:0;
  line-height: 25px;
}
#blog_post .box-image{
  margin:0;
}
#blog_post .services-box{
  margin:40px 0 20px 0;
}
img.alignnone.wp-image-755.size-large {
  width: 100%;  
}

/* Woocommerce */
.woocommerce-product-gallery__image {
  padding: 5px;
}
.woocommerce span.onsale{
  background: #1776c6;
  padding: 0;
}
.products li {
  border: solid 1px #dcdcdc;
  padding: 10px !important;
  text-align: center;
}
select.orderby {
    padding: 10px;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
    color: #000;
    letter-spacing: 1px;
    font-weight: 500;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #000;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #1776c6;
  color: #fff;
  border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #000;
  color: #fff;
}
.woocommerce .quantity .qty {
    width: 5em;
    padding: 5px;
    border-radius: 0;
    border: solid 1px #000;
    color: #000;
}
.col-1,.col-2 {
    max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
    list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
    background: #1776c6;
    padding: 12px;
    margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
  text-decoration: none;
}
.woocommerce-account .woocommerce-MyAccount-content a{
  text-decoration: none;
}
span.posted_in{
    display: block;
}
span.woocommerce-input-wrapper,
.woocommerce label {
 width: 100%;
}

/* Footer Section */
.footerinner {
  width: 100%;
}
.footerinner .widget {
  padding: 5% 0;
}
#footer{
  background: #000;
  color:#fff;
  padding:0;
  text-align:right;
    clear:both;
}
#footer h3 {
  text-align: right;
  font-size: 26px;
  color: #fff;
  font-weight: 600;
}
#footer p {
  font-size: 16px;
  margin: 0;
}
#footer .news-form{
  margin-top:24px;
}
#footer input[type="text"]{width:60%;
  padding:8px 5%;
  float:right;
  margin-left:2%;
  border-radius:5px;
}
#footer input[type="submit"]{
  width:100%;
  padding:11px 2%;
  border:none;
  background:#1776c6;
  margin:0;
}
#footer .search-field {
    margin: 0;
    width: 100%;
    padding: 10px 5px;
}
#footer label {
  display: block;
  width: 100%;
}
#footer form.search-form{
  text-align: right;
}
#footer .copyright{
  text-align:center;
}
.copyright a {
  color: #fff;
}
.inner{
  background: #1776c6;
  padding: 15px;
}
.footerinner ul {
  margin: 0;
}
.footerinner ul li {
  list-style: none;
  padding: 6px 0;
  letter-spacing: 1px;
  font-size: 10px;
}
.footerinner ul li a {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0;
}
.footerinner ul li a:hover{
  color: #1776c6;
}
#sidebar select,.footerinner select {
  padding: 10px;
  color: #000;
}
.textwidget {
  padding: 15px;
}
 .footerinner .tagcloud a{
  background: #1776c6;
  color: #fff;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 0 5px;
  display: inline-block;
}   
/* --------- Bradcrumbs --------- */
.bradcrumbs a {
  background: #1776c6;
  color: #fff;
  padding: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
}
.bradcrumbs a:hover{
  background:#999999;
}
.bradcrumbs span{
  background:#dddddd;
  color:#000;
  padding:5px 15px;
}

/* Comments BOX */
#comments{
  margin-top:40px;
}
#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
}
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#1776c6 ;
  padding:10px 20px;
  text-transform:uppercase;
  font-weight:bold;
  margin: 20px 0;
  border: none;
  width: auto;
}
#comments input[type="submit"].submit:hover{
  background: #000;
  color: #fff;
}
#comments a.comment-reply-link{
  color:#000;
  background:#cecece;
  padding:5px 15px;
}
#comments a.comment-reply-link:hover{
  background:#1776c6;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
#wrapper #comments ol.children li{
  list-style: none;
}
#wrapper #comments ol li{
  background:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#eee;
}
#wrapper #comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  float:left;
}
#comments .comment-author{
  width:100%;
  clear:both;
}
#comments .comment-metadata{
  width:90%;
  float:right;
}
#comments .comment-content{
  width:90%;
  float:right;
  margin-right:7%;
}
#comments p {
  width:90%;
  float:none;
}

/* --------- SLIDER--------- */
#slider .carousel-control-next-icon,
#slider .carousel-control-prev-icon{
background: transparent;
}
#slider .metabox span{
  margin-left: 15px;
}
#slider .metabox {
    font-size: 12px;
    margin-bottom: 2em;
}
#slider .metabox i{
  margin-left: 10px;
}
#slider{ 
  max-width:100%;
  margin:auto; 
  padding:0;
  background: #000;
}
#slider img {
  width: 100%;
  opacity: 0.7;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;
}

#slider .carousel-control-next, #slider .carousel-control-prev{
  opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .inner_carousel h2 {
  font-weight: bolder;
  letter-spacing: 1px;
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}
#slider .inner_carousel p {
    font-size: 14px;
}
#slider .inner_carousel {
  color: #fff;
}
#slider .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
}
.readbutton a {
    background: #1776c6;
    padding: 15px 25px;
    color: #fff;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 500;
}
.readbutton a:hover,
.textbox a:hover{
  background: #000;
}
.readbutton {
    margin-top: 30px;
}
/* slider end */

/* Sidebar */
#sidebar {
  border-right: 1px solid #e4e4e4;
  padding-right: 15px;
}
#sidebar form{
  display: table;
  width: 100%;
  border: solid 1px #1776c6;
}
#sidebar h3 {
  margin: 0 0 5px;
  text-align: right;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1776c6;
}
#sidebar h3::before {
  content: "";
  width: auto;
  height: 2px;
  background: #1776c6;
  display: block;
  position: relative;
  top: 27px;
  right: 0;
}
#sidebar input[type="search"] {
  padding:9px 10px;
  border:none;
  font-size:15px;
  color:#000;
  font-weight: normal;
  width:100%;
}
#sidebar label{
  width:70%;
  float:right;
  margin-bottom: 0px; 
}
#sidebar input[type="submit"]{
  background: #058eff;
  border: none;
  color: #fff;
  padding: 11px 0;
  width: 30%;
  font-size: 12px;
  font-weight: normal;
  float: right;
  margin: 0;
  border-radius: 0;
}
#sidebar aside,
#wrapper {
  margin-bottom: 30px;
} 
#sidebar ul {
  list-style:none;
  margin:0;
  padding:0;
  font-size:16px;
}
#sidebar ul li {
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}
#sidebar ul li a {
  font-size: 13px;
  color: #242424;    
  font-weight: bold;
}
#sidebar ul li a:hover{
  color:#1776c6;
}
#sidebar .tagcloud a{
  background:#eeeeee;
  color:#000;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}
#sidebar .tagcloud a:hover{
  background:#1776c6;
  color: #fff;
}
label {
  width: 100%;
}

/* Page */
iframe {
  width: 100%;
}
.title-box{
  background-repeat:no-repeat;
  background-size:100% 100%;
  color:#fff;
  text-transform:uppercase;
  padding:75px 0;
  font-weight:bold;
  text-align:center;
  margin-bottom:25px;
  background-color: #1776c6;
}
.single .title-box{
  background-size:100% auto;
}

#wrapper {
  padding: 15px;
}
#wrapper h1 {
  background: #1776c6;
  padding: 5px 0;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}
#wrapper p{
  line-height: 25px;
  font-size: 16px;
}
#wrapper hr{
  border:none;
  border-bottom:1px solid #e4e4e4;
  margin:35px 0;
  clear:both;
}
#wrapper h2{
  font-size:40px;
  font-weight:normal;
  margin:0;
  padding:0;
  color:#000;
  margin:0 0 25px;
}
#wrapper h3{
  font-size:36px;
  font-weight:normal;
  margin:0;
  padding:0;
  color:#000;
  margin:0 0 25px;
}
#wrapper h4{
  font-size:20px;
  font-weight:bold;
  margin:0;
  padding:0;
  color:#333;
  margin:0 0 25px;
}
#wrapper ul{
  margin:0 10px 0 0;
  font-size:16px;
}
#wrapper ul li{
  line-height:25px;
}
#wrapper ol{
  margin:0 15px 0 0;
  font-size:16px;
  counter-reset: myCounter;
}
#wrapper ol li{
  padding:0 0 0 0;
}

/* Pagination */
.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:left;
} 
.pagination span,
.pagination a {
  display:block;
  float:right;
  margin: 2px 0 2px 2px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#242424;
  border: 1px solid #d4d4d4;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover{
  color:#000;
  background: #1776c6;
} 
.pagination .current {
  padding: 10px 15px;
  color: #fff;
  background: #1776c6;
  border: 1px solid #d4d4d4;
}

/* ------------Navigation Links------------*/
.nav-previous {
  float: right;
  width: 50%;
  margin: 15px 0;
}
.nav-next{
  float: right;
  width: 50%;
  text-align: left;
  margin: 15px 0;
}
span.meta-nav {
  clear: both;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  background: #1776c6;
}
span.post-title {
  font-size: 20px;
  margin: 3%;
  font-weight: 600;
  line-height: 1.5;
  color: #1776c6;
}
.entry-content a{
  color: #1776c6;
  text-decoration: underline;
}

/* Media Css*/
@media screen and (max-width: 1000px){
  .nav-menu .nav ul li a:focus,
  a.closebtn.responsive-menu:focus{
    outline: 1px dotted #fff;
    border-bottom: 1px solid #fff;
  }
  .toggle-menu {
    display: none;
    position: relative;
    /*float: left;*/
    left: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
    z-index: 999999;
    text-align: left;
    left: 0;
  }
  .topbar .toggle-menu i{
    color: #fff;
  }
  .topbar .toggle-menu {
    margin:10px auto;
  }
  .toggle-menu i {
    font-size: 32px;
    color: #000;
    /*margin: 10px 0px;*/
  }
  .toggle-menu button {
    background: transparent;
    border: none;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    display: block;
    color: #ffffff;
    border:none;
    background: transparent;
  }
  .sidebar #primary-site-navigation {
    width: 100%;
  }
  .toggle-menu span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle-menu{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .nav-menu ul ul li{
    display: block;
  }
  .nav-menu .nav ul li{
    border-top:1px #303030 solid; 
    display:block;
  }
  .nav ul li a{
    padding: 10px;
    display:block;
    color:#ffffff;
    border: none;
    background: none !important;
  }
  .nav-menu .current_page_item > a, .nav-menu .current-menu-item > a, .nav-menu .current_page_ancestor > a {
    color: #1776c6;
  }
  .nav ul li ul,
  .nav ul li ul ul{ 
    display:block !important;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
    padding-right:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-right:30px !important;
  }  
  .nav ul li ul, 
  .nav ul li ul ul {
    display: block !important;
    opacity: 1 !important;
  }
  .nav-menu ul ul{
    position: static;
    width: 100%;
  }
  .nav-menu li{
    padding: 0;
    display: block;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #sidelong-menu,
  #sidelong-topmenu {
    text-align: right;
    display: inline;
  }
  #header ul.sub-menu:before{
    display: none;
  }
  .main-menu-navigation {
    padding: 0px 10px;
  }
  .nav-menu .sub-menu > li > a:focus, .nav ul li a:focus{
    outline: 1px dotted #fff;
    border-bottom: 1px solid #fff;
  }
  .nav-menu ul li a:hover{
    color: #1776c6;
  }
}
@media screen and (max-width: 720px) and (min-width: 320px){
  #contact-us,
  .social-media{
    text-align: center;
  }
    .abt-image {
      margin-top: 20px;
    }
  .main-service-box:nth-child(3),
  .main-service-box:nth-child(1){
      background: #1776c6; 
      margin: 10px 0;
  }
  .main-service-box:nth-child(2),
  .main-service-box:nth-child(4){
      background: #058eff;
  }
  #slider .slide-cap h2,
  #slider .slide-cap p{
    display: none;
  } 
  .services .new-line {
      padding-bottom: 5px;
      font-size: 26px;
      width: 60%;
      font-style: oblique;
  }
  ol.children {
      margin: 0 !important;
  }
  ol.children img {
      width: 30px;
      border: solid 1px;
  }
  #comments .reply {
    float: right !important;
    margin-bottom: 5%;
  }
  #wrapper #comments ol li{
    padding:0 !important;
  }
  #wrapper h2 {
      font-size: 30px !important;
  }
}
@media screen and (max-width:720px) { 
  .logo {
      text-align: center;
  }
  #contact-us{
    position: static;
    opacity: 1;
  }
  .top-service{
    margin: 0 auto;
  }
  #slider .inner_carousel h2,
  #slider .inner_carousel p{
    display: none;
  }
  #contact-us i{
    margin-top: 15px;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
      width: 48% !important;
  }
}
@media screen and (max-width: 900px) and (min-width: 768px){ 
  .main-service-box:nth-child(3),
  .main-service-box:nth-child(1){
    background: #1776c6;
  }
  .main-service-box:nth-child(2),
  .main-service-box:nth-child(4){
    background: #058eff;
  }
  .top-service{
    margin-top: 10px;
  }
  #contact-us i{
    padding: 0 8px;
  }
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
    width: 48% !important;
  }
}