/*
Theme Name: Blossom Pretty
Theme URI: https://blossomthemes.com/downloads/blossom-pretty-free-wordpress-theme
Template: blossom-feminine
Author: Blossom Themes
Author URI: https://blossomthemes.com/
Description: Blossom Pretty is a child theme of Blossom Feminine WordPress blog theme. This feminine and chic theme can be used to create stunning, lively and eye catching website. Whether you want to share your expert fashion tips, your favorite recipes or create a lifestyle, travel, food, beauty, make-up, wedding, portfolio, personal, girly, parenting or cooking blog, Blossom Pretty is an ideal choice for you. You can easily customize your website using the typography and color features. You can change the color to pink, purple, blue, or any color you like. Blossom Pretty is mobile friendly and fully responsive to ensure your website looks great in different screens.The beautiful Instagram section can be used to showcase images from your Instagram account and increase your followings. The advertisement widget in the theme will help you easily monetize your blog. The well placed Newsletter section will help you to grow your email list and keep in touch with your visitors. Like its parent theme, Blossom Pretty is also SEO friendly and speed optimized. The theme is translation ready, supports RTL and WooCommerce plugin. In addition, Blossom Pretty is backed by world class, one-on-one support, and a super active team of developers and designers ready to help! Check demo: https://demo.blossomthemes.com/blossom-pretty/, read documentation: https://docs.blossomthemes.com/docs/blossom-pretty/, and get support: https://blossomthemes.com/support-ticket/.
Version: 1.0.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: blossom-pretty
Tags: blog,one-column,two-columns,right-sidebar,left-sidebar,footer-widgets,custom-background,custom-header,custom-menu,custom-logo,featured-images,threaded-comments,full-width-template,rtl-language-support,translation-ready,theme-options,photography,e-commerce
*/

/*================================================
 Banner layout four style
================================================*/
.banner-layout-two{margin-top: 30px;}

.banner-layout-two .item{
	position: relative;
	opacity: 0.5;
}

.banner-layout-two .active .item{opacity: 1;}

.banner-layout-two #banner-slider .owl-item::after {
	display: none;
}

.banner-layout-two .text-holder{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 100px 40px 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+0,efefef+6,dddddd+11,c9c9c9+16,a4a4a4+25,454545+45,454545+45,484848+45,474747+45,4a4a4a+46,474747+46,4b4b4b+46,4b4b4b+47,4f4f4f+47,4e4e4e+48,515151+48,4e4e4e+48,525252+49,515151+49,545454+49,525252+49,545454+49,525252+50,545454+50,535353+50,565656+51,545454+51,565656+53,535353+53,555555+54,535353+54,515151+55,525252+55,505050+56,4a4a4a+58,474747+58,3f3f3f+60,272727+65,121212+70,090909+72,000000+75,000000+100&0+0,0.06+20,0.17+45,0.29+53,0.6+70,0.69+78,0.77+88,0.81+100 */
	background: -moz-linear-gradient(top, rgba(253,253,253,0) 0%, rgba(239,239,239,0.02) 6%, rgba(221,221,221,0.03) 11%, rgba(201,201,201,0.05) 16%, rgba(185,185,185,0.06) 20%, rgba(164,164,164,0.08) 25%, rgba(71,71,71,0.17) 45%, rgba(75,75,75,0.19) 46%, rgba(79,79,79,0.2) 47%, rgba(78,78,78,0.22) 48%, rgba(84,84,84,0.23) 49%, rgba(83,83,83,0.25) 50%, rgba(84,84,84,0.26) 51%, rgba(83,83,83,0.29) 53%, rgba(83,83,83,0.31) 54%, rgba(82,82,82,0.33) 55%, rgba(80,80,80,0.35) 56%, rgba(71,71,71,0.39) 58%, rgba(63,63,63,0.43) 60%, rgba(39,39,39,0.52) 65%, rgba(18,18,18,0.6) 70%, rgba(9,9,9,0.62) 72%, rgba(0,0,0,0.66) 75%, rgba(0,0,0,0.69) 78%, rgba(0,0,0,0.77) 88%, rgba(0,0,0,0.81) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(253,253,253,0) 0%,rgba(239,239,239,0.02) 6%,rgba(221,221,221,0.03) 11%,rgba(201,201,201,0.05) 16%,rgba(185,185,185,0.06) 20%,rgba(164,164,164,0.08) 25%,rgba(71,71,71,0.17) 45%,rgba(75,75,75,0.19) 46%,rgba(79,79,79,0.2) 47%,rgba(78,78,78,0.22) 48%,rgba(84,84,84,0.23) 49%,rgba(83,83,83,0.25) 50%,rgba(84,84,84,0.26) 51%,rgba(83,83,83,0.29) 53%,rgba(83,83,83,0.31) 54%,rgba(82,82,82,0.33) 55%,rgba(80,80,80,0.35) 56%,rgba(71,71,71,0.39) 58%,rgba(63,63,63,0.43) 60%,rgba(39,39,39,0.52) 65%,rgba(18,18,18,0.6) 70%,rgba(9,9,9,0.62) 72%,rgba(0,0,0,0.66) 75%,rgba(0,0,0,0.69) 78%,rgba(0,0,0,0.77) 88%,rgba(0,0,0,0.81) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(253,253,253,0) 0%,rgba(239,239,239,0.02) 6%,rgba(221,221,221,0.03) 11%,rgba(201,201,201,0.05) 16%,rgba(185,185,185,0.06) 20%,rgba(164,164,164,0.08) 25%,rgba(71,71,71,0.17) 45%,rgba(75,75,75,0.19) 46%,rgba(79,79,79,0.2) 47%,rgba(78,78,78,0.22) 48%,rgba(84,84,84,0.23) 49%,rgba(83,83,83,0.25) 50%,rgba(84,84,84,0.26) 51%,rgba(83,83,83,0.29) 53%,rgba(83,83,83,0.31) 54%,rgba(82,82,82,0.33) 55%,rgba(80,80,80,0.35) 56%,rgba(71,71,71,0.39) 58%,rgba(63,63,63,0.43) 60%,rgba(39,39,39,0.52) 65%,rgba(18,18,18,0.6) 70%,rgba(9,9,9,0.62) 72%,rgba(0,0,0,0.66) 75%,rgba(0,0,0,0.69) 78%,rgba(0,0,0,0.77) 88%,rgba(0,0,0,0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdfdfd', endColorstr='#cf000000',GradientType=0 ); /* IE6-9 */
}

.banner-layout-two .text-holder .category{
	display: block;
    font-weight: 500;
    color: #fff;
}

.banner-layout-two .text-holder .category a{
	color: #fff;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	transition: linear 0.2s;
}

.banner-layout-two .text-holder .category a:hover,
.banner-layout-two .text-holder .category a:focus{
	text-decoration: none;
	color: #f3c9dd;
}

.banner-layout-two .text-holder .title{
	font-size: 28px;
	/*line-height: 34px;*/
	line-height: 1.214em;
	color: #fff;
	font-family: "Playfair Display",serif;
}

.banner-layout-two .text-holder .title a{
	color: #fff;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	transition: linear 0.2s;
}

.banner-layout-two .text-holder .title a:hover,
.banner-layout-two .text-holder .title a:focus{
	text-decoration: none;
	color: #f3c9dd;
}

.banner-layout-two .owl-nav .owl-prev{
	left: 121px;
}

.banner-layout-two .owl-nav .owl-next{
	right: 119px;
}

.banner-layout-two img, 
.banner-layout-two .fallback-svg {
	height: auto;
}

.entry-footer .btn-readmore + .edit-link {
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
}

.widget_bttk_posts_category_slider_widget .owl-theme .owl-nav [class*="owl-"]:hover {
    background: #f3c9dd;
}

/*============================================
 Index layout two style
============================================*/
.blog.blog-layout-two #primary .post:nth-child(even){
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.blog.blog-layout-two #primary .post:nth-child(even) .img-holder{
	margin-right: 0;
	margin-left: 60px;
}

@media only screen and (max-width: 1440px){
	.blog-layout-two #primary .post:nth-child(even) .img-holder{margin-left: 30px;}
}
@media only screen and (max-width: 1024px){
	.banner-layout-two img, 
	.banner-layout-two .fallback-svg { 
		height: auto;
	}

	.banner-layout-two .owl-nav .owl-prev{left: 20px;}

	.banner-layout-two .owl-nav .owl-next{right: 20px;}
}

@media only screen and (max-width: 767px){
	.banner-layout-two .text-holder{
		padding-left: 15px;
		padding-right: 15px;
	}

	.banner-layout-two img, 
	.banner-layout-two .fallback-svg{
		height: auto;
	}

	.blog-layout-two #primary .post:nth-child(even) .img-holder{margin-left: 0;}

	.blog.blog-layout-two #primary .post:nth-child(even) .img-holder{
		margin-left: 0;
	}
}